*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    overflow-x:hidden;
    font-family:Arial,sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:25px 35px;
    
    width:100%;
}

.logo{
    position: relative;
    z-index: 100000;
}

.logo img{
    position: relative;
    width:150px;
    top: -5px;
    height:auto;
    display:block;
    
}

.menu-btn{
    position: fixed;
    right: 40px;
    top: 15px;
    margin-left: auto;
    font-size:32px;
    cursor:pointer;
}


.overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.3);
    display:none;
    z-index:999;
}

.sidebar{
    position:fixed;
    top:0;
    right:-320px;
    width:300px;
    max-width:80%;
    height:100vh;
    background:#fff;
    border-radius:20px 0 0 20px;
    padding:30px;
    transition:0.4s ease;
    box-shadow:-5px 0 20px rgba(0,0,0,0.15);
    z-index:1000;
}

.sidebar.active{
    right:0;
}

.sidebar ul{
    list-style:none;
    margin-top:50px;
}

.sidebar ul li{
    margin:25px 0;
}

.sidebar ul li a{
    text-decoration:none;
    color:#24344d;
    font-size:20px;
    font-weight:600;
}

.close-btn{
    font-size:25px;
    float:right;
    cursor:pointer;
}

.start-btn{
    width:100%;
    margin-top:40px;
    padding:15px;
    border:none;
    border-radius:15px;
    background:#00AEEF;
    color:white;
    font-size:18px;
    cursor:pointer;
}

@media(max-width:768px){
    .logo img{
        position: fixed;
        
        width:120px;
        height: auto;
        margin-left: -20px;
    }

    .menu-btn{
        position: fixed;
        top: 10px;
        right: 24px;
        z-index: 9999;
        font-size:24px;
    }

    .sidebar{
        width:80%;
        max-width: 300px;
        padding:20px;
        overflow-x: hidden;
    }
}

/* HERO SECTION */

.heading{
    text-align:center;
    margin-top:60px;
}

.heading h5{
    color:#00AEEF;
    font-size:25px;
    font-weight:900;
    letter-spacing:4px;
    text-transform:uppercase;
    position:relative;
    display:inline-block;
}

.heading h5::after{
    content:"";
    display:block;
    width:80px;
    height:3px;
    background:#00AEEF;
    margin:10px auto 0;
    border-radius:10px;
}

.power{
    text-align:center;
    margin-top:25px;
}

.power h4{
    font-size:3rem;
    color:#111827;
    font-family:'Montserrat',sans-serif;
    font-weight:700;
    margin-bottom:10px;
}

.intel h3{
    font-size:5rem;
    font-family:'Montserrat',sans-serif;
    font-weight:900;
    background:linear-gradient(90deg,#00AEEF,#0072ff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    text-shadow:0 10px 25px rgba(0,174,239,.2);
    margin:10px 0;
}

.power > h3{
    font-size:2rem;
    color:#374151;
    font-weight:700;
}

.para{
    max-width:800px;
    margin:30px auto;
    text-align:center;
    font-size:20px;
    line-height:1.8;
    color:#6b7280;
    padding:0 20px;
}

.explorebtn{
    display:inline-block;
    padding:15px 35px;
    background:linear-gradient(135deg,#00c6ff,#0072ff);
    color:white;
    text-decoration:none;
    border-radius:50px;
    font-family:'Poppins',sans-serif;
    font-weight:600;
    box-shadow:0 10px 25px rgba(0,114,255,.3);
    transition:all .3s ease;
}

.explorebtn:hover{
    transform:translateY(-5px) scale(1.05);
    box-shadow:0 15px 35px rgba(0,114,255,.4);
}

.main{
    
    width:100%;
    text-align:center;
    margin-top:50px;
}

.main img:not(.ceo-img):not(.cto-img){
    width:90%;
    max-width:1200px;
    border-radius:25px;
    box-shadow:0 20px 50px rgba(0,0,0,.12);
}

/* FLOATING ANIMATION */

.intel{
    animation:float 3s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
}

/* MOBILE */

@media(max-width:768px){

    .heading{
        margin-top:30px;
    }

    .power h4{
        font-size:1.8rem;
    }

    .intel h3{
        font-size:2.8rem;
    }

    .power > h3{
        font-size:1.2rem;
    }

    .para{
        font-size:14px;
    }

    .explorebtn{
        padding:12px 25px;
        font-size:14px;
    }

    .main img:not(.ceo-img):not(.cto-img){
        width:95%;
    }
}
    
.main {
    width: 100%;
    max-width: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main img:not(.ceo-img):not(.cto-img){
    width:100%;
    height: auto;
    display: flex;
    border-radius: 5%;
}





.zaptitude{
    background: linear-gradient(180deg, #080014 0%, #120024 100%);
    width: 100%;
    
    color: white;
    padding: 60px 20px;
    box-sizing: border-box;
    
}
.flagship-box{
    display: inline-block;
    padding: 5px 15px;
    border: 1.5px solid #7a3cff;
    border-radius: 30px;
    color: #c58cff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    background: rgba(122, 60, 255, 0.1);
    backdrop-filter: blur(5px);
}
.zaptitude-content p{
    font-size: 22px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 span {
    color: yellow;
}



@keyframes slideUp{
    from{
        opacity:0;
        transform:translateY(100px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

html {
    scroll-behavior: smooth;
}
/*
.hidden{
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease;
}
*/
.show{
    opacity: 1;
    transform: translateY(0);
}

.modules{
    width: 100%;
    margin-top: 0;
    padding:40px 20px;
    background: linear-gradient(180deg, #080014 0%, #120024 100%);
}

.module-title{
    text-align: center;
    color:#7e8aa5;
    letter-spacing:4px;
    font-size:22px;
    margin-bottom:30px;
}

.module-container{
    width: 100%;
    background: rgba(35, 10, 70, 0.9);
    border-radius:30px;
    padding:25px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.module-card{
    display:flex;
    align-items:center;
    gap:15px;
    padding:20px;
    border-radius:20px;
    color:#7e8aa5;
    transition:0.4s;
}

.module-card.active{
    border:2px solid #9d4dff;
    box-shadow:0 0 20px rgba(157,77,255,.5);
    background:rgba(157,77,255,.08);
}

.icon-box{
    width:60px;
    height:60px;
    border-radius:18px;
    background:#1c1838;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
}

.active .icon-box{
    background:#9d4dff;
    color:white;
}

.module-card span{
    font-family: Arial, Helvetica, sans-serif;
    color:#ffcc33;
    font-size:14px;
    letter-spacing:2px;
}

.module-card h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:5px;
    font-size:20px;
    color:white;
}
@media (max-width:768px){

  .module-container{
      padding:15px;
      gap:12px;
  }

  .module-card{
      padding:10px;
      gap:8px;
  }

  .icon-box{
      width:40px;
      height:40px;
      font-size:18px;
  }

  .module-card span{
      font-size:10px;
  }

  .module-card h3{
      font-size:12px;
      line-height:1.2;
  }

  .modules{
      padding:20px 10px;
  }

  
  .module-title{
      font-size:18px;
      margin-bottom:15px;
  }
}

.modules{
    width: 100vw;
    margin: 0;
    background:linear-gradient(180deg,#080019,#0b0820);
    padding:20px;
    box-sizing: border-box;
    overflow: hidden;
}

.module-container{
    width: 100%;
    max-width: none;
    margin: 0;
    background:#0b0820;
    
}






.content-box{
    width: 95%;
    max-width: 850px;
    margin: 30px auto;
    padding: 25px;
    background: rgba(35,10,70,0.95);
    border: 1px solid rgba(157,77,255,.3);
    border-radius: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 0 25px rgba(157,77,255,.25);
}

.module-card{
    cursor:pointer;
    transition:all 0.4s ease;
}

.module-card.active{
    border:2px solid #9d4dff;
    box-shadow:
        0 0 15px #9d4dff,
        0 0 30px rgba(157,77,255,.6);
    background:rgba(157,77,255,.1);
}

.content-box{
    width: 95%;
    max-width: 850px;
    margin-top:30px;
    padding:35px;
    background:rgba(35,10,70,.9);
    border-radius:25px;
    color:white;
}

.feature-label{
    display:inline-block;
    padding:12px 20px;
    border-radius:30px;
    background:#5a3c2c;
    color:#ffc107;
    font-weight:bold;
    margin-bottom:25px;
}

.content-box h2{
    font-size:42px;
    margin-bottom:20px;
}

.content-box p{
    color:#bdbdd6;
    line-height:1.9;
}

.tags{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    margin:25px 0;
}

.tags span{
    padding:10px 18px;
    border-radius:25px;
    background:#3d1d7a;
    border:1px solid #6d3cff;
}

.feature-btn,
.docs-btn{
    display:block;
    text-align:center;
    text-decoration:none;
    padding:16px;
    border-radius:15px;
    margin-top:15px;
}

.feature-btn{
    background:#8b3dff;
    color:white;
}

.docs-btn{
    border:1px solid #555;
    color:white;
}


@media (max-width:768px){

    .modules{
        width:100%;
        padding:20px 0px;
        margin: 0;
        overflow: hidden;
    }

    .module-container{
        width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .content-box{
        width:95%;
        max-width:95%;
        padding:20px;
        margin:20px auto;
    }

    .content-box h2{
        font-size:28px;
        word-break:break-word;
    }

    .feature-label{
        width:100%;
        text-align:center;
    }
}




.module-card,
.module-title,
.modules-container,
.content-box{
    animation: slideUp 1s ease;
}


.cta-section{
    width: 100%;
    
    background:#070014;
    padding:80px 20px;
    text-align:center;
}

.line{
    width:70px;
    height:6px;
    background:#ffd700;
    border-radius:10px;
    margin:0 auto 30px;
}

.sub-title{
    color:#5ecbff;
    letter-spacing:6px;
    font-size:14px;
    margin-bottom:20px;
}

.cta-section h2{

    color:#fff;
    font-size:40px;
    max-width:800px;
    margin:0 auto 40px;
    line-height:1.4;
    font-weight:700;
}

.cta-section h2 span{
    font-size: 50px;
    color:#ffcc00;
}

.cta-btn{
    background:linear-gradient(90deg,#a855f7,#d946ef);
    color:white;
    border:none;
    padding:18px 40px;
    border-radius:18px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    box-shadow:0 0 30px rgba(168,85,247,.5);
    transition:.3s;
}

.cta-btn:hover{
    transform:translateY(-3px);
}



/* erp */

.erp-section{
    width: 100%;
    padding:40px;
    text-align:center;
    background:#050014;
    margin-bottom: none;
    
}

.erp-subtitle{
    color:#00d9ff;
    letter-spacing:4px;
    font-size:14px;
    margin-bottom:15px;
}

.erp-title{
    color:white;
    font-size:38px;
    line-height:1.2;
}

.erp-title span{
    color:#00c8ff;
}

.erp-desc{
    color:#cfcfcf;
    max-width:700px;
    margin:20px auto 50px;
    line-height:1.8;
}
 
.erp-quote-card{
    margin-top: 0;
    width: 80%;
    margin: 40px auto;
    padding: 30px 15px 20px;
    position: relative;

    background:rgba(5,15,40,0.9);
    border: 2px solid rgba(120, 80, 255, 0.25);
    border-radius: 30px;

    text-align: center;
    color: white;

    box-shadow:
    0 0 25px rgba(120,80,255,.2),
    inset 0 0 20px rgba(255,255,255,.02);
}

.quote-img-container{
    width:120px;
    height:120px;
    border-radius:50%;
    overflow:hidden;
    margin:0 auto 25px;
    border:3px solid #00d9ff;
    display:flex;
    justify-content:center;
    align-items:center;
    transform: rotate(90deg);
    
}

.quote-img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    object-position: center;
    display:block;
    margin-left: 30px;
    transform: scale(2.2);
    


}

.quote-text{
    color:white;
    font-size:30px;
    line-height:1.8;
    font-style:italic;
}

.quote-text span{
    color:#00cfff;
    font-weight:bold;
    border-bottom:2px solid #00cfff;
}

.quote-author{
    margin-top:25px;
    color:#8fa2c9;
    letter-spacing:4px;
    font-size:14px;
}


/* mobile */


@media (max-width: 768px){

    .erp-quote-card{
        padding:30px 20px;
    }

    .quote-img-container{
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
    }

    .quote-text{
        color: white;
        font-size: 14px;
        line-height: 1.8;
    }

    .quote-author{
        font-size: 11px;
        letter-spacing: 3px;
    }
}

/* scale */

.scale-section{
    background:#050014;
    text-align:center;
    padding:80px 10px;
}

.scale-subtitle{
    color:#8a9ab5;
    letter-spacing:6px;
    font-size:14px;
    margin-bottom:25px;
}

.scale-title{
    color:white;
    font-size:48px;
    line-height:1.2;
    margin-bottom:40px;
}

.erp-btn{
    border:none;
    color:white;
    font-size:16px;
    letter-spacing:3px;
    padding:22px 40px;
    width:90%;
    max-width:650px;
    border-radius:20px;
    cursor:pointer;

    margin-bottom: none;
    background:linear-gradient(
        90deg,
        #16d9ff,
        #1e90ff
    );

    box-shadow:0 0 35px rgba(0,150,255,0.4);
}

@media(max-width:768px){

    .scale-title{
        font-size:28px;
    }

    .erp-btn{
        font-size:14px;
        padding:18px 25px;
        border-radius:18px;
    }
}


/* story */


.story-section{
    text-align: center;
    background:#ffffff;
    padding:80px 35px;
}

.story-badge{
    display:inline-block;
    padding:10px 18px;
    border-radius:30px;
    background:#eef8ff;
    color:#00bfff;
    font-size:13px;
    letter-spacing:2px;
    font-weight:600;
}

.story-title{
    margin-top:25px;
    font-size:52px;
    line-height:1.1;
    color:#18233d;
}

.story-title span{
    color:#00bfff;
}

.story-text{
    margin-left: 15%;
    margin-top:40px;
    color:#4b566f;
    font-size:22px;
    line-height:2;
    max-width:900px;
}

@media(max-width:768px){

    .story-section{
        width: 100%;
        padding:15px 15px;
        margin-top: -50px;
    }

    .story-title{
        font-size:34px;
    }

    .story-text{
        margin-right: 10%;
        font-size:16px;
        line-height:1.9;
    }

    .story-badge{
        font-size:11px;
    }
}

.story-title,
.story-text,
.story-badge {
    animation: slideUp 1s ease;
}



/*lead */

.leadership-section{
    width: 100%;
    background:#f5f5f5;
    padding:60px 20px;
    box-sizing: border-box;
}

.stats{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
    margin-bottom:50px;
}

.stat-box h2{
    font-size:50px;
    color:#0b1736;
}

.stat-box p{
    font-size:12px;
    letter-spacing:2px;
    color:#8a94a6;
}

.leader-image{
    width:100%;
    margin:0 auto 40px;
    text-align:center;
}

.leader-image img{
    width:100%;
    max-width:850px;
    height:auto;
    display:block;
    margin:0 auto;
    border-radius:30px;
}



.quote-card2{
    width: 80%;
    margin-left: 10%;
    background:white;
    border:2px solid #bcecff;
    border-radius:35px;
    padding:40px 25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,170,255,.1);
}



.quote-text span{
    color:#00a8ff;
    font-weight:bold;
    border-bottom:2px solid #00a8ff;
}

.quote-author{
    margin-top:25px;
    color:#98a2b3;
    letter-spacing:4px;
    font-size:14px;
}

@media(max-width:768px){

    .quote-card2{
        padding:30px 20px;
    }

    .quote-text{
        font-size:18px;
        line-height:1.7;
    }

    .quote-author{
        font-size:11px;
        letter-spacing:2px;
    }

    .stat-box h2{
        font-size:40px;
    }
}



@media (max-width: 768px) {

    .leadership-section{
        width:100%;
        padding: 40px 15px;
        box-sizing: border-box;
    }

    .leader-image{
        width: 100%;
        margin: 20px auto;
    }

    .leader-image img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 25px;
    }

    
}


.evolution-section{
    width: 105%;
    background:#f5f5f5;
    padding:80px 40px;
}

.evolution-tag{
    color:#00a8ff;
    letter-spacing:8px;
    font-size:14px;
    font-weight:600;
    margin-bottom:50px;
}

.evolution-item{
    display:flex;
    gap:25px;
    margin-bottom:60px;
}

.evolution-item premium{
    color: #0B1736;
}

.number{
    font-size:50px;
    font-weight:700;
    color:#bdefff;
    min-width:60px;
}

.evolution-item h3{
    font-size:38px;
    color:#14213d;
    margin-bottom:15px;
    font-family:cursive;
}

.evolution-item p{
    font-size:22px;
    line-height:1.8;
    color:#5f6c7b;
    max-width:800px;
}

.evolution-btn{
    display:inline-block;
    background:linear-gradient(90deg,#00c6ff,#008cff);
    color:white;
    text-decoration:none;
    padding:22px 60px;
    border-radius:50px;
    font-size:18px;
    letter-spacing:2px;
    box-shadow:0 10px 20px rgba(0,170,255,.3);
    transition:.3s;
}

.evolution-btn:hover{
    transform:translateY(-3px);
}

@media(max-width:768px){

    .evolution-section{
        width: 100%;
        padding:60px 20px;
    }

    .evolution-item{
        gap:15px;
        margin-bottom:40px;
    }

    .number{
        font-size:34px;
        min-width:40px;
    }

    .evolution-item h3{
        font-size:22px;
    }

    .evolution-item p{
        font-size:16px;
        line-height:1.8;
    }

    .evolution-btn{
        width:100%;
        text-align:center;
        padding:18px;
        font-size:16px;
    }
}



.quote-img-container3{
    width:90px;
    height:90px;
    margin:0 auto 25px;
    border-radius:50%;
    overflow:hidden;
    border:3px solid #d6d9ff;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}



/* Mobile Responsive */




.communication-section{
    width: 100%;
    text-align:center;
    padding:70px 20px;
    background:#f5f5f5;
}

.communication-title{
    font-size:42px;
    font-weight:800;
    color:#1f2d4a;
    margin-bottom:25px;
    line-height:1.2;
}

.communication-title span{
    color:#00b7ff;
}

.communication-text{
    max-width:700px;
    margin:0 auto;
    font-size:22px;
    line-height:1.8;
    color:#566273;
}

/* Mobile */
@media(max-width:768px){

    .communication-section{
        padding:50px 20px;
    }

    .communication-title{
        font-size:28px;
    }

    .communication-text{
        font-size:16px;
        line-height:1.8;
    }
}


.about-section{
    width: 105%;
    background:#f5f5f5;
    padding:80px 30px;
}

#protocol {
    
    text-align: center;
    color:#0099ff;
    letter-spacing:6px;
    font-size:14px;
    font-weight:700;
    margin-bottom:20px;
}

.about-title{
    text-align: center;
    color:#00a8ff;
    font-size:48px;
    font-weight:700;
    margin-bottom:30px;
    text-shadow:0 4px 10px rgba(0,168,255,0.25);
}


.about-text{
    text-align: center;
    font-size:22px;
    line-height:2;
    margin-left: 15%;
    color:#566273;
    max-width:900px;
}



@media(max-width:768px){

    .about-section{
        width: 100%;
        padding:60px 20px;
    }

    .protocol {
        background:#f5f5f5;
        font-size:12px;
        letter-spacing:4px;
    }

    .about-title{
        font-size:34px;
    }

    .about-text{
        margin-right: 10%;
        font-size:16px;
        line-height:1.9;
    }
}


.status-card{
    background:#f8f8f8;
    border:1px solid #e5e5e5;
    border-radius:25px;
    padding:15px 25px;
    width:90%;
    max-width:700px;
    margin:30px auto;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.status-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 0;
    border-bottom:1px solid #e5e5e5;
}

.status-row:last-child{
    border-bottom:none;
}

.status-row span:first-child{
    color:#9aa4b3;
    font-size:14px;
    letter-spacing:2px;
    font-weight:600;
}

.online{
    color:#00a86b;
    font-size:16px;
    font-weight:700;
}

.response{
    color:#0099ff;
    font-size:16px;
    font-weight:700;
}

.secure{
    color:#6c63ff;
    font-size:16px;
    font-weight:700;
}

@media(max-width:768px){

    .status-card{
        width:90%;
        padding:10px 20px;
    }

    .status-row{
        padding:18px 0;
    }

    .status-row span:first-child{
        font-size:12px;
    }

    .online,
    .response,
    .secure{
        font-size:14px;
    }
}


.leader-card{
    width:90%;
    max-width:700px;
    margin:40px auto;
    background:#f8f8f8;
    border:2px solid #bcecff;
    border-radius:35px;
    padding:40px 25px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.05);
}

.leader-img{
    width:90px;
    height:90px;
    margin:0 auto 25px;
    border-radius:50%;
    overflow:hidden;
    border:3px solid #bcecff;
}

.leader-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.leader-quote{
    font-size:30px;
    line-height:1.8;
    color:#2d3a4f;
    font-style:italic;
}

.leader-quote span{
    color:#00a8ff;
    font-weight:bold;
    border-bottom:2px solid #00a8ff;
}

.leader-author{
    margin-top:25px;
    color:#98a2b3;
    letter-spacing:4px;
    font-size:14px;
    font-weight:600;
}

.leader-btn{
    display:block;
    margin:30px auto 0;
    width:90%;
    padding:15px;
    border:2px solid #bcecff;
    border-radius:30px;
    text-decoration:none;
    color:#00a8ff;
    font-weight:700;
    letter-spacing:2px;
}

@media(max-width:768px){

    .leader-card{
        width:90%;
        padding:30px 20px;
    }

    .leader-quote{
        font-size:18px;
        line-height:1.7;
    }

    .leader-author{
        font-size:11px;
        letter-spacing:2px;
    }

    .leader-img{
        width:70px;
        height:70px;
    }
}


.contact-card{

    max-width:900px;
    margin:80px auto;
    padding:50px;

    background:rgba(10,15,35,.90);

    backdrop-filter:blur(20px);

    border:1px solid rgba(0,212,255,.2);

    border-radius:30px;

    box-shadow:
    0 0 40px rgba(0,212,255,.15);

    color:white;
}

.contact-card h2{

    text-align:center;

    font-size:48px;

    margin-bottom:40px;

    color:#fff;
}

.contact-card input,
.contact-card select,
.contact-card textarea{

    width:100%;

    padding:18px;

    margin-bottom:18px;

    border:none;

    border-radius:15px;

    background:rgba(255,255,255,.05);

    color:white;

    border:1px solid rgba(255,255,255,.08);

    box-sizing:border-box;
}

.contact-card input:focus,
.contact-card select:focus,
.contact-card textarea:focus{

    outline:none;

    border-color:#00d4ff;

    box-shadow:
    0 0 20px rgba(0,212,255,.3);
}

.contact-card textarea{

    min-height:150px;

    resize:none;
}

.check{

    display:flex;

    align-items:flex-start;

    gap:10px;

    color:#cfd8e6;

    margin:15px 0;

    font-size:14px;
}

.check input{

    width:auto;

    margin-top:3px;
}

.contact-card button{

    width:100%;

    padding:18px;

    margin-top:20px;

    border:none;

    border-radius:50px;

    background:
    linear-gradient(
    135deg,
    #00d4ff,
    #0066ff
    );

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.contact-card button:hover{

    transform:translateY(-3px);

    box-shadow:
    0 0 25px rgba(0,212,255,.5);
}

@media(max-width:768px){

    .contact-card{
        width:90%;
        padding:30px 20px;
    }

    .contact-card h2{
        font-size:28px;
    }

    .contact-card input,
    .contact-card select,
    .contact-card textarea{
        padding:15px;
        font-size:15px;
    }
}


.footer{
    width: 100%;
    background:linear-gradient(180deg,#03132d,#041b45);
    padding:60px 35px;
    color:white;
}

.footer h2{
    font-size:50px;
    margin-bottom:25px;
}

.footer h2 span{
    display:inline-block;
    width:50px;
    height:5px;
    background:#00b7ff;
    border-radius:20px;
    margin-left:10px;
}

.footer-desc{
    color:#b8c4d6;
    line-height:2;
    font-size:18px;
    margin-bottom:40px;
}

.footer-icons{
    justify-content: center;
    align-items: center;
    word-spacing: 10%;
    display:flex;
    gap:20px;
    margin-bottom:50px;
    width: 100%;
}

.icon-box{
    width:70px;
    height:70px;
    border-radius:20px;
    border:1px solid rgba(255,255,255,.15);
    background:rgba(255,255,255,.05);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
}

.footer-links{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
}

.footer-links h4{
    letter-spacing:4px;
    margin-bottom:20px;
}

.footer-links a{
    display:block;
    color:#b8c4d6;
    text-decoration:none;
    margin-bottom:18px;
}

.footer hr{
    border:none;
    height:1px;
    background:rgba(255,255,255,.1);
    margin:50px 0 25px;
}

.copyright{
    text-align:center;
    color:#94a3b8;
    letter-spacing:2px;
    line-height:2;
}

.status{
    text-align:center;
    margin-top:20px;
    color:#00d084;
    font-weight:600;
    letter-spacing:3px;
}

@media(max-width:768px){

    .footer{
        width: 100%;
        padding:50px 25px;
    }

    .footer h2{
        font-size:34px;
    }

    .footer-desc{
        font-size:16px;
    }

    .footer-links{
        grid-template-columns:1fr 1fr;
    }

    .icon-box{
        width:60px;
        height:60px;
        font-size:24px;
    }
}


/* animation */

.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.4s ease;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}




.team-preview{
    width: 100%;
    padding:120px 20px;
    text-align:center;
    background:
    linear-gradient(
    180deg,
    #081224,
    #050816
    );
}

.team-tag{
    color:#00d4ff;
    font-family:'Orbitron',sans-serif;
    letter-spacing:4px;
    font-size:14px;
}

.team-preview h2{
    margin-top:20px;
    font-size:60px;
    color:white;
    line-height:1.2;
}

.team-preview p{
    max-width:700px;
    margin:25px auto;
    color:#b8c4d8;
    line-height:2;
    font-size:18px;
}

.team-btn{
    display:inline-block;
    margin-top:20px;
    padding:18px 35px;
    border-radius:50px;
    text-decoration:none;
    color:white;
    font-weight:600;

    background:
    linear-gradient(
    135deg,
    #00d4ff,
    #0066ff
    );

    box-shadow:
    0 0 30px rgba(0,212,255,.25);

    transition:.4s ease;
}

.team-btn:hover{
    transform:translateY(-5px);

    box-shadow:
    0 0 40px rgba(0,212,255,.5);
}

/* MOBILE */

@media(max-width:768px){

    .team-preview{
        padding:80px 20px;
    }

    .team-preview h2{
        font-size:36px;
    }

    .team-preview p{
        font-size:16px;
    }

}


/* ==========================
   LEVROTEC CORE TEAM
========================== */

.ceo-card,
.cto-card,
.erp-quote-card,
.quote-card2,

.leader-card{

    background:rgba(10,15,35,.85);

    backdrop-filter:blur(20px);

    border:1px solid rgba(0,212,255,.15);

    border-radius:30px;

    padding:35px;

    text-align:center;

    transition:.4s ease;

    position:relative;

    overflow:hidden;

    margin:30px auto;

    max-width:700px;

    box-shadow:
    0 10px 40px rgba(0,0,0,.35);
}

.quote-card3{
    background:rgba(10,15,35,.85);
    backdrop-filter:blur(20px);
    border:1px solid rgba(0,212,255,.15);
    border-radius:30px;
    padding:35px;
    text-align:center;
    transition:.4s ease;
    position:relative;
    overflow:hidden;
    margin:30px auto;
    max-width:700px;
    box-shadow:
    0 10px 40px rgba(0,0,0,.35);
}

/* TOP GLOW LINE */

.ceo-card::before,
.cto-card::before,
.erp-quote-card::before,
.quote-card2::before,
.quote-card3::before,
.leader-card::before{

    content:"";

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:3px;

    background:
    linear-gradient(
    90deg,
    #00d4ff,
    #6c63ff
    );
}

/* HOVER */

.ceo-card:hover,
.cto-card:hover,
.erp-quote-card:hover,
.quote-card2:hover,
.quote-card3:hover,
.leader-card:hover{

    transform:
    translateY(-10px);

    border-color:#00d4ff;

    box-shadow:
    0 0 35px rgba(0,212,255,.25);
}

/* IMAGES */

.ceo-img,
.cto-img,

.quote2-img {

    width: 160px;
    height: 160px;

    border-radius: 50%;

    object-fit: cover;
    object-position: center top;

    display: block;
    margin: 0 auto 25px;

    border: 4px solid #00d4ff;

    box-shadow:
        0 0 20px rgba(0,212,255,.5);
}

.ceo-card:hover .ceo-img,
.cto-card:hover .cto-img,
.erp-quote-card:hover,
.quote-card2:hover .quote2-img,
.quote-card3:hover img,
.leader-card:hover img{

    transform:scale(1.08);
}

/* QUOTES */

.ceo-content p,
.cto-card p,
.quote-text,
.quote-text3,
.leader-quote{

    margin-top:25px;

    color:#d7e4ff;

    line-height:1.9;

    font-size:19px;
}

.ceo-content span,
.cto-card span,
.quote-text span,
.quote-text3 span,
.leader-quote span{

    color:#00d4ff;

    font-weight:700;
}

/* NAME */

.ceo-content h4,
.cto-card h4,
.quote-author,
.leader-author{

    margin-top:25px;

    color:#00d4ff;

    font-size:14px;

    letter-spacing:3px;

    font-weight:600;
}

/* BUTTON */

.leader-btn{

    display:inline-block;

    margin-top:25px;

    padding:14px 28px;

    border-radius:40px;

    text-decoration:none;

    color:white;

    background:
    linear-gradient(
    135deg,
    #00d4ff,
    #0066ff
    );

    transition:.3s;
}

.leader-btn:hover{

    transform:translateY(-4px);

    box-shadow:
    0 0 25px rgba(0,212,255,.4);
}

/* TEAM GRID */

.team-core{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap:35px;

    width:90%;

    max-width:1400px;

    margin:auto;
}

.quote-img{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    transform: scaleY(1.2);
    object-position: 65% 15%;
    transform: rotate(-90deg);
}

.quote-img-container3{
    width:140px;
    height:140px;

    margin:0 auto 15px;
}

.quote-img-container3 img{
    width:100%;
    height:100%;

    border-radius:50%;
    object-fit:cover;

    border:4px solid #00d4ff;
}


.leader-btn{
    display:inline-block;

    margin-top:25px;

    padding:14px 40px;

    width:80%;

    max-width:500px;

    text-align:center;

    border-radius:50px;

    text-decoration:none;

    color:white;

    background:linear-gradient(
        90deg,
        #00d4ff,
        #00aaff
    );
}

/* MOBILE */

@media(max-width:768px){

    .ceo-card,
    .cto-card,
    .erp-quote-card,
    .quote-card2,
    
    .leader-card{

        padding:25px;
        width:95%;
    }

    .quote-card3 {
    
        width:90%;
        
    
        max-width:350px;
    
        padding:25px;
    
        margin:30px auto;
    
        box-sizing:border-box;

    }
    

    .ceo-content p,
    .cto-card p,
    .quote-text,
    .quote-text3,
    .leader-quote{

        font-size:16px;
    }

}